src/main/app/reuse-metrics-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="reuse-metrics-organizationFlow">
		<enricher target="#[flowVars.MULE_CORRELATION_ID]" doc:name="Message Enricher">
			<flow-ref name="check-correlationFlow" doc:name="check-correlationFlow" />
		</enricher>
		<flow-ref name="authenticate-with-anypointFlow" doc:name="Authenticate w/ Anypoint" />
		<logger
			message="CID: #[flowVars.MULE_CORRELATION_ID] :: Access Token: #[payload.access_token]"
			level="INFO" doc:name="Log Access Token" />
        <flow-ref name="lookup-organization-nameFlow" doc:name="Lookup Organization Name"/>
		<flow-ref name="retrieve-environmentsFlow" doc:name="Retrieve Environments" />
		<collection-splitter doc:name="Environments Splitter">
			<expression-message-info-mapping
				messageIdExpression="#[message.id]" correlationIdExpression="#[message.correlationId]" />
		</collection-splitter>
        <dw:transform-message doc:name="Set Environment Variables">
        		<dw:input-payload mimeType="application/java"/>
            <dw:set-variable variableName="environmentId"><![CDATA[%dw 1.0
%output application/java
---
payload.envID]]></dw:set-variable>
            <dw:set-variable variableName="environmentName"><![CDATA[%dw 1.0
%output application/java
---
payload.envName]]></dw:set-variable>
        </dw:transform-message>
		<enricher target="#[flowVars.contractsByEnv]" doc:name="Message Enricher">
			<flow-ref name="retrieve-apis-and-associated-contracts-for-reuse-metricsFlow" doc:name="Retrieve APIs and Associated Contracts" />
		</enricher>
        <set-payload value="#[flowVars.contractsByEnv]" doc:name="Set Payload"/>
		<collection-aggregator failOnTimeout="true"
			doc:name="Environments Aggregator" />
		<dw:transform-message doc:name="Add Organization Details">
			<dw:input-payload mimeType="application/java"/>
			<dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/java
%function sumTotalActiveAPIs(type) ((sum payload[?($.type == type)].totalActiveAPIs[?($ > 0)]) default 0)
%var orgSandboxTotalActiveAPIs = sumTotalActiveAPIs("sandbox")
%var orgProductionTotalActiveAPIs = sumTotalActiveAPIs("production")
---
{
	organization: {
		name: flowVars.organizationName,
		environments: payload
	} 

}]]></dw:set-payload>
		</dw:transform-message>
		<dw:transform-message doc:name="Add API Status">
			<dw:input-payload mimeType="application/java"/>
			<dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/json
---
{
	apiStatus: {
    		name: "Anypoint KPI System API",
	    status: "OK",
 	   	statusCode: "200",
	    	description: "Reuse metrics successfully retrieved for organization: " ++ flowVars.organizationName,
	    link: "http://anypoint.kpi.system.api/200.html",
    		transactionId: flowVars.MULE_CORRELATION_ID,
    		timestamp: now as :datetime
    },
    organization: payload.organization
 }   ]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="reuse-metrics-environmentlFlow">
    		<enricher target="#[flowVars.MULE_CORRELATION_ID]" doc:name="Message Enricher">
        		<flow-ref name="check-correlationFlow" doc:name="check-correlationFlow"/>
        </enricher>
        <flow-ref name="authenticate-with-anypointFlow" doc:name="authenticate-with-anypointFlow"/>
        <logger message="CID: #[flowVars.MULE_CORRELATION_ID] :: Access Token: #[payload.access_token] OrganizationName: #[flowVars.organizationName]" level="INFO" doc:name="Log Access Token"/>
        <flow-ref name="retrieve-environmentFlow" doc:name="Retrieve Environment ID"/>
        <choice doc:name="Does environment exist?">
            <when expression="#[payload != empty]">
                <dw:transform-message doc:name="Set Environment ID">
                		<dw:input-payload mimeType="application/java"/>
                    <dw:set-variable variableName="environmentId"><![CDATA[%dw 1.0
%input payload application/java
%output application/java
---
payload.envID]]></dw:set-variable>
                </dw:transform-message>
                <logger message="CID: #[flowVars.MULE_CORRELATION_ID] :: Environment Name: #[flowVars.environmentName] Environment ID: #[flowVars.environmentId]" level="INFO" doc:name="Log Environment ID"/>
                <flow-ref name="retrieve-apis-and-associated-contracts-for-reuse-metricsFlow" doc:name="Retrieve APIs and Contracts"/>
                <dw:transform-message doc:name="Add API Status">
                		<dw:input-payload mimeType="application/java"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/json
---
{
	apiStatus: {
    		name: "Anypoint KPI System API",
	    status: "OK",
 	   	statusCode: "200",
    		description: "Reuse metrics successfully retrieved for environment: " ++ flowVars.environmentName ++ ".",
	    link: "http://anypoint.kpi.system.api/200.html",
    		transactionId: flowVars.MULE_CORRELATION_ID,
    		timestamp: now as :datetime
    },
    environment: payload
}   ]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Log Environment Not Found" message="CID: #[flowVars.MULE_CORRELATION_ID] :: Environment '#[flowVars.environmentName]' not found for organization '#[flowVars.organizationId]'."/>
                <scripting:transformer doc:name="Throw Env Not Found Exception">
                    <scripting:script engine="Groovy"><![CDATA[throw new org.mule.module.apikit.exception.NotFoundException("Environment " + message.getInvocationProperty('environmentName') + " not found. TransactionID: " + message.getInvocationProperty('MULE_CORRELATION_ID'));
]]></scripting:script>
                </scripting:transformer>
            </otherwise>
        </choice>
    </flow>
    <flow name="retrieve-apis-and-associated-contracts-for-reuse-metricsFlow">
        <flow-ref name="retrieve-apis-for-contracts-for-reuse-metricsFlow" doc:name="Retrieve APIs for Contracts"/>
        <dw:transform-message doc:name="Set Contract APIs">
        		<dw:input-payload mimeType="application/java"/>
            <dw:set-variable variableName="contractAPIs"><![CDATA[%dw 1.0
%input payload application/java
%output application/java
---
flatten payload]]></dw:set-variable>
        </dw:transform-message>
        <logger message="CID: #[flowVars.MULE_CORRELATION_ID] :: Contract APIs: #[flowVars.contractAPIs.size()]" level="INFO" doc:name="Log Number of Contract APIs"/>
        <flow-ref name="retrieve-contractsFlow" doc:name="Retrieve Contracts"/>
        <dw:transform-message doc:name="Set Production Contracts">
        		<dw:input-payload mimeType="application/java"/>
            <dw:set-variable variableName="apiContracts"><![CDATA[%dw 1.0
%input payload application/java
%output application/java
---
flatten payload]]></dw:set-variable>
        </dw:transform-message>
        <logger message="CID: #[flowVars.MULE_CORRELATION_ID] :: Contracts #[flowVars.apiContracts]" level="INFO" doc:name="Log Contracts"/>
        <dw:transform-message doc:name="Merge Contracts and APIs">
        		<dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/java
---
flowVars.contractAPIs map ((apiItem, apiIndex) -> {
	assetId: apiItem.assetId,
    assetVersion: apiItem.assetVersion,
    activeContractsCount: apiItem.activeContractsCount,
    contracts: flatten (flowVars.apiContracts filter ($.apiID == apiItem.id)).contracts
})]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Add Environment Information">
        		<dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/java
%function calcReuse(apiList) ((((sizeOf (apiList filter ($.activeContractsCount > 1))) / (sizeOf apiList)) as :number as :string {format: "#,##0.0#%"}) when ((sizeOf apiList) > 0) otherwise "N/A")
%function calcAvgConsumers(apiList) ((((apiList.activeContractsCount reduce ($$ + $)) / (sizeOf apiList)) as :number as :string {format: "#0.00"}) when ((sizeOf apiList) > 0) otherwise "N/A") 
---
{
	name: flowVars.environmentName,
    	reusePercentage: calcReuse(payload),
    	avgNumberOfConsumers: calcAvgConsumers(payload), 
    mostConsumedAPIs: ((payload orderBy ((api) -> api.activeContractsCount))[-1..0] filter ($.activeContractsCount > 0)) when ((sizeOf payload) > 0) otherwise []
    	
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="retrieve-apis-for-contracts-for-reuse-metricsFlow">
        <set-variable variableName="basePath" value="/apimanager/api/${api.manager.API.version}/organizations/#[flowVars.organizationId]/environments/#[flowVars.environmentId]" doc:name="Set BasePath"/>
    		<http:request config-ref="BasePath_HTTP_Request_Configuration" path="/apis" method="GET" doc:name="GET APIs for Contracts">
            <http:request-builder>
                <http:header headerName="Authorization" value="#[flowVars.bearerToken]"/>
            </http:request-builder>
            <http:success-status-code-validator values="0..599"/>
        </http:request>
        <dw:transform-message doc:name="JSON2Java">
        		<dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/json
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="apisExist"><![CDATA[%dw 1.0
%input payload application/json
%output application/java
---
(payload != null) and ((sizeOf payload) > 0) and (payload.assets != null) and ((sizeOf payload.assets) > 0)]]></dw:set-variable>
        </dw:transform-message>
        <choice doc:name="Do APIs exist?">
            <when expression="#[flowVars.apisExist]">
                <dw:transform-message doc:name="Extract APIs">
                		<dw:input-payload mimeType="application/java"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/java
---
payload.assets map ((assetItem, assetIndex) -> 
	assetItem.apis map ((apiItem, apiIndex) -> {
		assetId: apiItem.assetId,
		id: apiItem.id,
		organizationId: apiItem.organizationId,
		environmentId: apiItem.environmentId,
		assetVersion: apiItem.assetVersion,
		activeContractsCount: apiItem.activeContractsCount	
	})
)]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <logger message="CID: #[flowVars.MULE_CORRELATION_ID] :: No APIs found for environment: #[flowVars.environmentId]" level="INFO" doc:name="Log No APIs Found"/>
                <set-payload value="#[[[]]]" doc:name="Set Payload"/>
                <!-- 
                <scripting:transformer doc:name="Throw APIs Not Found Exception">
                    <scripting:script engine="Groovy"><![CDATA[throw new org.mule.module.apikit.exception.NotFoundException("No APIs found for environment:" +  message.getInvocationProperty('environmentID') + " - TransactionID: " + message.getInvocationProperty('MULE_CORRELATION_ID'));
]]></scripting:script>
                </scripting:transformer>
                -->
            </otherwise>
        </choice>
    </flow>
</mule>
